<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/pacman.css">
    <script src="{{ url_for('static', filename='main.js') }}"></script>   
</head>
<body>


    <div class="cat">
        <img src="https://placekitten.com/200/200" alt="Cat">
    </div>

</body>
</html>
