body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.cat {
    position: absolute;
    transition: transform 0.3s ease, left 0.1s ease, top 0.1s ease;
	pointer-events: none;
}

.cat:hover {
    transform: scale(1.2) rotate(15deg); /* Enlarge and rotate slightly when hovered */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes move-cat {
    0% {
        transform: translateX(-10%) translateY(0);
    }
    100% {
        transform: translateX(-10%) translateY(-10px);
    }
}

.cat img {
    width: 64px;
    height: auto;
}

.ripple-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255,0,0,0.1), rgba(255,165,0,0.1), rgba(255,255,0,0.1), rgba(0,128,0,0.1), rgba(0,0,255,0.1), rgba(75,0,130,0.1), rgba(238,130,238,0.1));
    background-size: 200% 200%;
    animation: ripple-animation 30s ease-in-out infinite;
}

@keyframes ripple-animation {
    0% {
        background-size: 300% 200%;
        background-position: 50% 200%; /* Originating from the bottom center */
        opacity: 0.8;
    }
    50% {
        background-size: 300% 200%;
        background-position: 50% 200%; /* Keep the bottom origin */
        opacity: 0.8;
    }
    100% {
        background-size: 300% 200%;
        background-position: 50% 200%; /* Reset back to the bottom */
        opacity: 0.8;
    }
}